.Card {
  flex: 1;
  background-color: var(--color-white);
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
  min-width: 24rem;
  padding: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 20px 15px;
  padding: 20px;
  min-height: 40rem;
}
.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: 600;
}
.tags > li {
  padding: 5px;
  background-color: var(--color-tag-1);
  margin: 10px 4px;
  border-radius: 7px;
}
.tags :nth-child(2) {
  background-color: var(--color-tag-2);
}
.tags :nth-child(3) {
  background-color: var(--color-tag-3);
}
.tags :nth-child(4) {
  background-color: var(--color-tag-4);
}
.button_group {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.card_btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-button-1);
  margin: 15px;
  align-items: center;
  transition: 0.4s;
}
.button_group :nth-child(2) > .card_btn {
  border: 1px solid var(--color-button-2);
}
.button_group :nth-child(3) > .card_btn {
  border: 1px solid var(--color-button-3);
}
.card_btn:hover {
  background-color: var(--color-button-1);
  color: black;
}
.button_group :nth-child(2) > .card_btn:hover {
  background-color: var(--color-button-2);
}

.button_group :nth-child(3) > .card_btn:hover {
  background-color: var(--color-button-3);
}