.Navbar {
  padding: 10px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
}
.home_btn {
  padding: 10px;
  border: 2px solid var(--color-page-background);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.home_btn:hover {
  border: 2px solid var(--color-green);
}
.themeToggle > p {
  font-size: 15px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
  
  /* border: 1px solid var(--color-page-background) */
}